[submodule "go-data/api"]
	path = go-data/api
	url = git@github.com:WorldHealthOrganization/GoDataSource-API.git
[submodule "go-data/frontend"]
	path = go-data/frontend
	url = git@github.com:WorldHealthOrganization/GoDataSource-FrontEnd.git
