[submodule "go-data/api"]
	path = go-data/api
	url = https://github.com/ClarisoftTechnologies/Go.Data-API.git
[submodule "go-data/frontend"]
	path = go-data/frontend
	url = https://github.com/ClarisoftTechnologies/Go.Data-Front-End.git
